<template>
  <div class="page" style="padding-top: 20px;">
    <div class="navbar">
      <div class="navbar-inner sliding">
        <div class="left">
          <a class=" back">
            <i class="far fa-arrow-alt-circle-left"></i>
            <span class="ios-only">Back</span>
          </a>
        </div>
        <div class="title" style="left: 0px; width: 100%; text-align: center !important;">
          <img src="img/history.png">
        </div>
      </div>
    </div>
    <!-- <div class="toolbar tabbar-labels toolbar-bottom-md">
      <div class="toolbar-inner">
        <a href="/" class="my-btoom-tab tab-link-active">
          <i class="icon material-icons md-only my-icon">
            <i class="fas fa-home"></i>
          </i>
          <span class="tabbar-label">Home</span>
        </a>
        <a href="/" class="my-btoom-tab">
          <i class="icon material-icons md-only my-icon">
            <i class="fas fa-th"></i>
          </i>
          <span class="tabbar-label">Menu</span>
        </a>
        <a href="#view-settings" class="my-btoom-tab">
          <i class="icon material-icons md-only my-icon">
            <i class="fas fa-cog"></i>
          </i>
          <span class="tabbar-label">Settings</span>
        </a>
      </div>
    </div> -->
    <div class="subnavbar" style="margin-top: 10px; height: 40px !important;">
      <form data-search-container=".virtual-list" data-search-item="li" data-search-in=".item-title" class="searchbar searchbar-init">
        <div class="searchbar-inner">
          <div class="searchbar-input-wrap">
            <input class="hide-bar" type="search" placeholder="Search"/>
            <i class="searchbar-icon"></i>
            <span class="input-clear-button"></span>
          </div>
          <span class="searchbar-disable-button">Cancel</span>
        </div>
      </form>
    </div>
    <div class="searchbar-backdrop"></div>
    <div class="page-content">
      <div class="list simple-list searchbar-not-found">
        <ul>
          <li>Nothing found</li>
        </ul>
      </div>
      <div class="list virtual-list media-list searchbar-found" style="margin: 0px;"><div class="myls"></div></div>
    </div>
  </div>
</template>
<script> 

  return {
    data: function() {

      var link = this.$route.params.link;
      var items = [];
      var a = 15;
      
      app.request.json('http://'+link+'/Hospital/dynamicController/loaddetails', 
      function (data) {
        //console.log(data);
        app.preloader.show();
          for (var i = 0; i < data.length; i++) {
            items.push({
              id: data[i].PatientID,
              title: data[i].PatientName + data[i].PatientID,
              subtitle: data[i].PatientName,
              gender: data[i].Gender,
              link: link
            });
          }
        app.preloader.hide();    
      });
      
      return {
        items: items
      };

    },
    on: {
      
      pageInit: function() {
        //app.preloader.show();

        var self = this;

          self.virtualList = self.$app.virtualList.create({
          // List Element
          el: self.$el.find('.virtual-list'),
          // Pass array with items
          items: self.items,
          // Custom search function for searchbar
          searchAll: function (query, items) {
            var found = [];
            for (var i = 0; i < items.length; i++) {
              if (items[i].title.toLowerCase().indexOf(query.toLowerCase()) >= 0 || query.trim() === '') found.push(i);
            }
            return found; //return array with mathced indexes
          },
          // List item Template7 template
          itemTemplate:
            '<li>' +
              '<a href="./detail/{{id}}/{{subtitle}}/{{link}}"  class="open-vertical item-link item-content">' +
                '<div class="item-inner">' +
                  '<div class="item-title-row">' +
                    '<div class="item-title left">'+
                      '<img src="img/icon/man.png">'+
                    '</div>' +
                    '<div class="item-subtitle item-subtitle-me center">'+
                        '<span>{{id}} | '+
                        '</span>'+
                        '<span>{{subtitle}} | '+
                        '</span>'+
                        '<span>{{gender}}'+
                        '</span>'+
                    '</div>' +
                  '</div>' +
                '</div>' +
              '</a>' +
            '</li>',
          // Item height
          height: self.$theme.ios ? 63 : 73,
        });
        //app.preloader.show();
      },
      pageBeforeRemove: function () {
        var self = this;
        self.virtualList.destroy();
      }
    }
  }

</script>
